@import "variables";
@import "reset";

html {
  font-size: 200%;
}

body {
  font-size: $font-size-primary;
  // font-family: $font-family;
  line-height: $line-height;

  color: $dark-color-text-primary;
  background: $dark-color-background;
}

::-webkit-scrollbar {
  display: none;
}

.clear {

  &::after {
    clear: both;
    content: " ";
    display: table;
  }
}

.home-list {
  // height: 20rem;
  width: 100%;
}
