@import "variables";
@import "reset";

html {
  font-size: 200%;
}

body {
  font-size: $font-size-primary;
  // font-family: $font-family;
  line-height: $line-height;

  color: $dark-color-text-primary;
  background: $dark-color-background;
}

::-webkit-scrollbar {
  display: none;
}

.clear {

  &::after {
    clear: both;
    content: " ";
    display: table;
  }
}

.home-list {
  // height: 20rem;
  width: 100%;
}


@import './components/canvas';
@import './components/mobile';


html, body {
  background-color: #000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  .slides, & > .dg {
    display: none;
  }
}

@media (min-width: 1000px) {
  body {
    background-repeat: no-repeat;
    
    & > .dg {
      display: block;
    }
  }
}